@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

.nav__container {
    display: flex;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
}

.left__nav {
    flex-direction: row;
    flex: 1;
    margin: 15px 30px;
}